*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
/*danh sach san pham*/
.mainLayout{
    flex-grow: 1;
    top:60;
    display: flex;
    flex-direction: column;
}
.container_main{
    position: relative;
    padding: 0 16px;
    margin: 0 auto;
}

.ProductShow{
    flex-grow: 1;
}
.ProductShow_Body
.ProductShow_Show{
    position: relative;
    display: flex;
    margin-top: 2em;
    padding-left: 50px;
    padding-right: 50px;
}
.product_column{
    width: auto;
    margin-right: 3em;
}
.product_item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.product_img{
    width: 19em;
    height: 25em;
    margin-bottom: 12px;
    overflow: hidden;
}
.product_img a img{
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
    transform: translateZ(1px);
    image-rendering: auto;
    transition: transform .3s,border-radius .3s;
}
.product_text{
    width: 19em;
    height: 10%;
}
.product_front{
    position: relative;
}
.product_front h3{
    margin: 0.5em;
}
.product_text p{
    font-weight: bold;
    font-size: large;
    text-align: center;
} 
.button_buy{
    width: 19em;
    height: auto;
}
.buynow{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    text-align: center;
}
.buynow button{
    position: relative;
    height: 40px;
    width: 100px;
    color: red;
    background-color: #ffffff;
    font-size: 18px;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(196, 196, 196);
}
/*chi tiet san pham*/
.productDetail{
    position: relative;
}
.Productdetail_main{
    width: auto;
    
}
.productt{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    margin-bottom: 16px;
    width: 100%;
}
.productdetail_gallery{
    width: 50%;
    flex: 1 1;
}
.productdetail_info{
    width: 50%;
    flex: 1 1;
    padding: 0 6px;
}
.product-gallery{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.swiper{
    height: 620px;
    width: 90px;
}
.swiper-wrapper{
    flex-direction: column;
}
.swiper-slide{
    transform: translateZ(0);
    height: 116px;
    margin-bottom: 10px;
}
.slide-item{
    border: 1px solid rgb(247, 245, 245);
    border-radius: 10px;
}
.slide-item span img{
    height: 100%;
    border-radius: 10px;
    width: 100%;
}
.swiper-img{
    margin-bottom: 20px;
    position: relative;
    height: 700px;
    width: 70%;
}
.swiperimg-wrapper{
    margin: auto;
    text-align: center;
    background-color: transparent;
    height: auto;
    width: 80%;
    border-radius: 10px;
    border: 1px solid black;
}
.swiperimg-wrapper span img{
    width: 100%;
    height: 70%;
    border-radius: 10px;
}
    /*mo ta san pham*/
.productInfo{
    position: relative;
}
.productInfo_tittle h3{
    font-size: 20px;
}
.productInfo_tittle h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgb(128, 120, 120);
    margin: 2px;
}
.productInfo_price{
    display: flex;
}
.productInfo_price p{
    font-size: 30px;
    margin: 2px;
    font-weight: 600;
}
.productInfo_size{
    margin-bottom: 12px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: black;
}
.productInfo_size ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 12px;
    width: 80%;
    flex-wrap: wrap;
    margin: 15px;
    gap: 8px;
}
.productInfo_size ul li{
    border: 1px solid rgb(238, 238, 238);
    padding-top: 5px;
    width: 30px;
    height: 24px;
    border-radius: 20px;
    text-align: center;
    color: black;
}
.productInfo_size .color{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
    flex-wrap: wrap;
    margin: 15px;
    gap: 8px;
}
.productInfo_size .color li{
    border: 1px solid rgb(238, 238, 238);
    padding:0;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    text-align: center; 
}
.productInfo_size .color li button{color: black;}
.productInfo_size .color li:hover{border: 1px solid red;}
.productInfo_size ul li:hover{border: 1px solid red;}
.productInfo_size ul li a{color: black;}

.productInfo_block{
  position: relative;
  padding: 20px 0;  
}
.productInfo_input{
    width: 20%;
}
.quanity_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 115px;
    height: 30px;
    border: 1px solid black;
    border-radius: 32px;
    overflow:hidden; ;
}
.quanity_product button{
    background-color: #f5f6f7;
    opacity: .5;
}
.quanity_product input{
    width: 100%;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 600;
    line-height: 17px;
    height: 44px;
    border: none;
}
.productInfo_quanity{
    display: flex;
    align-items: center;
}
.productInfo_quanity #btn_cart,
.productInfo_quanity .btn_order{
    width: 100px;
    height: 40px;
    border-radius: 32px;
    border: 1px solid red;
    background-color: white;
    font-size: 20px;
}
#btn_cart {
    margin-right: 15px;
}

.productInfo_quanity .btn_cart:hover,
.productInfo_quanity .btn_order:hover{
    background-color: rgb(202, 101, 101)
}
.productInfor_desc{
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    box-shadow: 0px 8px 16px 0px rgba(242, 242, 242, 0.2);
}
.desccontent{
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    
}
.descbutton{
    width: 100%;
    height: 32px;
    background-color: brown;
    text-align: center;
}

/**/
.ProductRelated{
    padding: 16px;
   
}
.ProductRelated_Box{
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 50px;
}