
.mainLayout{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
	justify-content: center;
	/* background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url("banner3.jpg");
	background-size: cover;
	background-position: center; */
}
/*.container_main{
    position: relative;
    padding: 0 16px;
    margin: 0 auto;
}
.FormSign{
    width: 100%;
    height: 100%;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
}
.form-group{
    width: 40em;
    height: auto;
    text-align: center;
}

.form-group button,
.form-group input{
    font-size: 14px;
    width: 460;
    border-radius: 10px;
    border: 1px solid rgb(239, 239, 239);
    height: 50;
    padding-left: 10px;
}
.form-group input[type="text"]{color:#bebebe;}
.form-group div{
    margin-top: 10px;
}
.form-group button{
    background-color: #dc3a35;
    border: none;
}
.FormSign a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.register{
    height: 40px;
    margin-top: 20px;
}
.register a{
    color:#dc3a35;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
.register a:hover{
    color: #c72a25;
}

.btncancel button{
    float: left;
    background-color: transparent;
    border: 1px solid #c72a25;
    color: #c72a25;
    font-weight: bold;
}
.btncancel button:hover{
    background-color: #c72a25;
    color: aliceblue;
}
.btncancel button,.btncontinue button{
    width: 200;
    text-align: center;
}
.btncancel,.btncontinue{
    margin-left: 70;
    margin-right: 40;
}*/

:root{
    --bg1 : #a7a6f7;
    --bg2: #f3fcfa;
    --text: #fff;
    --bg3 : #7d7cbd;
    --bg4: #f3fcfa;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: center;
    width: 100%;
    height: 700;
    background: transparent;
}

.form-login {
    width:  400px;
    height: 500px;
    /* background: rgb(246,225,213); */
    background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
    border-radius: 10px;
    padding: 40px 30px;
}

.form-login h1{
    margin-bottom: 40px;
    position: relative;
}

.form-login button{
    height: 35px;
    width: 100%;
    margin-bottom: 30px;
    background: linear-gradient(to bottom right, var(--bg1), var(--bg2));
}
.form-login button:hover{
    background: linear-gradient(to bottom right, var(--bg3), var(--bg4));
}
.form-text{
    margin-bottom: 40px;
    position: relative;

}

.form-text input{
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #ccc;
}

.form-text label{
    position: absolute;
    left: 12px;
    bottom: 25px;
}
.form-text input:focus ~ label{
    top:-15px;
    font-size: 12px;
}
